<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
</head>
<body>
	<h2 th:text="'Recipe List'"></h2>
	
	<table border="1">
		<thead>
			<tr>
				<th>No.</th>
				<th>Description</th>
				<th>Preparation Time</th>
				<th>Cook Time</th>
				<th>Servings</th>
				<th>Source</th>
				<th>url</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="recipe, index: ${recipes} ">
				<td th:text="${index.count}"></td>
				<td th:text="${recipe.description}"></td>
				<td th:text="${recipe.prepTime}"></td>
				<td th:text="${recipe.cookTime}"></td>
				<td th:text="${recipe.servings}"></td>
				<td th:text="${recipe.source}"></td>
				<td th:text="${recipe.url}"></td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>